#HolyGrail {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fdfdfd;
}

#HolyGrail-header{
    display: flex;
    justify-content: center; /* align horizontal */
    color: #fff;
    font-weight: 400;
}

#HolyGrail-body {
  display: flex;
}

#HolyGrail-content {
  flex: 1;
  padding-top: 20px;
  padding-right: 20px;
}

#HolyGrail-nav {
  flex: 0 18em;
  padding-top: 31px;
  padding-left: 30px;
}

body {
  font: 300 16px/1.6 "Helvetica", Helvetica, Arial, sans-serif;
  color: #222;
}


/** Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; 
}


a {
    color: #1d6289;
    text-decoration: none;
}

a:visited {
    color: #1d6289;
}
a:hover {
    color: #111;
}

.post-link {
    display: block;
    font-size: 24px;
}
  
.post-list {
    margin-left: 0;
    list-style: none;
}

.post-list > li {
    margin-bottom: 40px;
}

.sidebar-list {
    list-style: none; 
    margin-top: -15px;
    margin-bottom: 30px;
    font-size: 15px;
}

.sidebar-list > li {
   margin-left: -20px;
}

.content-list {
    list-style: none; 
    margin-top: -15px;
    margin-bottom: 25px;
    font-size: 16px;
}

.content-list > li {
    margin-left: -20px;
}


.post-meta {
    font-size: 14px;
    color: #828282;
    margin-bottom: -12px;
}

.post-all {
    margin-top: -10px;
    font-size: 14px;
}
  
.image{
    margin-bottom: -30px;
} 

.post-image{
    display: block;
    margin: auto;
    border: 1px solid grey;
}

#pagination{
    margin-left: 40px;
    margin-top: -10px;
    font-size: 14px;
}

#olderposts{
    float: right;
}

#footer{
    width: 850px;
    margin: auto;
    margin-top:10px;
    text-align:center;
    font-size: 12px;
    border-top: 1px solid lightgrey;
}